body {
  text-align: center;
  text-transform: uppercase;
  color: #333;
  background-color: #fff;
  font-family: 'Ubuntu Condensed', Tahoma, Verdana, Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: normal;
}

.container {
  margin: 0 auto;
}

.clearfix::after {
  display: table;
  clear: both;
  content: "";
}

header,
main,
footer {
  box-sizing: border-box;
  min-width: 768px;
  max-width: 1200px;
  background-color: #fff;
}


/*==== -= НАЧАЛО =- Иконочный шрифт ====*/


/*==== -= КОНЕЦ =- Иконочный шрифт ====*/

h1,
h2,
h3,
p {
  margin: 0;
}

h1,
h2 {
  color: #000;
  font-size: 21px;
  font-weight: bold;
}

h1 {
  line-height: 26px;
}

h2 {
  line-height: 21px;
}


/* шапка */

.main-header {
  width: 100%;
  margin-top: 16px;
  border-top: 1px solid #326480;
  border-bottom: 1px solid #326480;
  background-color: rgba(244, 244, 244, 0.5);
}

.logo {
  float: left;
  width: 16.6666%;
  max-width: 200px;
}

.logo img {
  margin-top: 10px;
  margin-bottom: 10px;
}

.header-container {
  float: right;
  width: 83.3333%;
  max-width: 1000px;
}

.top-menu-left {
  float: left;
  width: 50%;
}

.search-form {
  float: right;
  width: 50%;
  text-align: right;
}

.header-site-name {
  float: left;
  text-align: left;
}

.for-the-visually-impaired {
  float: right;
}


/* стилизация верхних меню */

.top-menu-left ul,
.top-menu-right ul,
.left-menu ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.top-menu-left ul,
.top-menu-right ul {
  margin-right: 4px;
}

.top-menu-left li,
.top-menu-right li {
  display: inline-block;
  margin-right: -4px;
}

.top-menu-item a {
  display: block;
  padding: 2px 7px;
  margin-left: -1px;
  border-left: 1px solid #326480;
}

.top-menu-item:first-child a {
  border-left: none;
}

.top-menu-item a:hover {
  color: #fff;
  background-color: #326480;
}

.top-menu-item a,
.left-menu a {
  text-decoration: none;
  font-size: 16px;
  color: #326480;
}

.top-menu-left,
.left-menu {
  text-align: left;
}

.top-menu-right {
  text-align: right;
}


/* ==================== */
