.clearfix() {
  &::after {
    display: table;
    clear: both;
    content: "";
  }
}

.container() {
  width: 320px;
  margin: 0 auto;
  @media @tablet-widths {
    width: 640px;
  }
  @media @desktop-widths {
    width: 1200px;
  }
}
