.column {
  &--left {
    float: left;
    min-width: 200px;
  }

  &--middle {
    float: left;
    width: auto;
    min-width: 300px;
  }

  &--right {
    float: right;
    min-width: 200px;
  }
}
