.footer-inner {
  position: relative;

  width: 100%;
  min-height: 140px;
  margin-top: -140px;

  text-transform: none;

  background-color: rgba(255, 255, 255, 0.8);

  .flex-row-between();

  &__address {
    /* margin-left: 10px; */
    text-align: left;
  }

  &__metrika {
    /* margin-left: 10px; */
    text-align: left;
  }

  &__nav {
    .clear-list-style ();
  }

  &__rights {
    text-align: right;
  }

  &__autor {
    text-align: right;
  }

}
