.menu-vertical {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    margin-top: 10px;
    text-align: left;

    &.submenu {}
  }

  &__item {
    &.current-menu-item {
      color: #fff;
      background-color: #326480;
    }

    &.menu-item-has-children {
      /* добавить стрелочку справа */
    }

    & a {
      display: block;
      padding: 5px 10px;
      border-bottom: 1px solid #326480;
      background-color: #f5f8f9;
      font-size: 16px;

      &:hover {
        background-color: rgba(50, 100, 128, 0.2);
      }
    }
  }
}
